/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('fospuca.png'); /* Reemplaza 'tu_imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #808000; /* Verde oliva */
  }
  
  /* Estilos para botones */
  .boton {
    background-color: #556B2F; /* Verde oliva más oscuro */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Estilos para formularios */
  .formulario {
    background-color: #F0F8FF; /* Blanco con un toque de azul */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .formulario button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }